:root {
  // css custom properties
  --background-color: hsl(0, 0%, 13%);
  --text-color: hsl(0, 0%, 100%);
}

// Utility class to add different colors all across your site.
.magenta {
  background-color: hsl(300, 85%, 25%);
}
.green {
  background-color: hsl(120, 68%, 26%);
}
